beautifulsoup4==4.14.3
certifi==2026.2.25
charset-normalizer==3.4.4
idna==3.11
openai==2.6.1
pydantic>=2.0
pydantic-settings
python-dotenv==1.1.1
requests==2.32.5
loguru
fastapi
soupsieve==2.8.3
sqlmodel
tenacity
uvicorn[standard]
typing_extensions==4.15.0
urllib3==2.6.3
